.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(210,75,101);
  background: linear-gradient(30deg, rgba(210,75,101,1) 0%, rgba(9,9,121,1) 63%, rgba(3,16,45,1) 100%);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  text-align: center;
}

.footer {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 20px;
}

.events {
	display: flex;
	gap: 50px;
}

.events a {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
}
